<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://yqall02.baidupcs.com/file/1d9774aa8fa42620fff875c832d819f5?bkt=p3-14001d9774aa8fa42620fff875c832d819f5176fc0870000001b8216&fid=1666599572-250528-744496819379497&time=1463297504&sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-ls439yQXmQP4hTuUIvd8%2FHXeou4%3D&to=qyac&fm=Yan,B,T,t&sta_dx=2&sta_cs=0&sta_ft=ipa&sta_ct=0&fm2=Yangquan,B,T,t&newver=1&newfm=1&secfm=1&flow_ver=3&pkey=14001d9774aa8fa42620fff875c832d819f5176fc0870000001b8216&sl=76415054&expires=8h&rt=sh&r=668410755&mlogid=3146037754944694489&vuk=1666599572&vbdid=102658203&fin=A6918733821669.ipa&slt=pm&uta=0&rtype=1&iv=0&isw=0&dp-logid=3146037754944694489&dp-callid=0.1.1</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://x5.justep.com/apps/x5.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://x5.justep.com/apps/x5.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.justep.x5.demo</string>
				<key>bundle-version</key>
				<string>5.3.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>X5 App download</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
